/* ===== YOUR CSS GOES HERE ===== */
/* ===== START WITH GLOBAL STYLES THEN USE MEDIA QUERIES FOR LAYOUT ADJUSTMENTS ===== */


body {
    background: #f5e9dc;
    background-image: url("https://images.unsplash.com/photo-1604079628040-94301bb21b91?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1yZWxhdGVkfDV8fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=800&q=60");
    background-size: cover;
    font-family: 'Bai Jamjuree', sans-serif;
}

body h2 {
    font-family: 'Optima';
    font-size: 1.5rem;
}

footer {
    text-align: center;
    font-size: 0.5em;
}

p {
    font-size: 2em;
}


/* ===== NAV BAR ===== */

.navbar .links {
    list-style: none;
    padding-left: 0;
    padding-right: 22px;
}

a:link {
    text-decoration: none;
    color:  #4e6e81;
    font-weight: bold;
}

.navbar .links a:visited {
    color:  #4e6e81;
}

.navbar .logo a:visited {
    color: black;
}

.navbar .links a:hover {
    color: #B46543;
}

header {
    position: relative;
    padding: 0 2rem;
}


.navbar {
    width: 100%;
    height: 60px;
    max-width: 950px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a{
    font-size: 25px;
    font-weight: bolder;
}

.navbar .logo a:hover{
    font-size: 25px;
    font-weight: bolder;
    color: 	#36454F;
}

.navbar .links {
    display: flex;
    gap: 3rem;
    font-size: 20px;
}

.navbar .toggle_btn {
    color: black;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.action_btn {
    background-color: #f5e9dc;
    font-size: 1.1rem;
    color:  #B46543;
    border: 2px solid black;
    padding: 0.8rem 1rem;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
}

.action_btn:hover {
    scale: 1.1;
    background-color:#B46543;
    color: white;
    border: 2px solid black;
}

.dropdown-menu {
    display: none;
    position:absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 9px;
    overflow: hidden;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown-menu.open {
    height: 187px;
}

.dropdown-menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.dropdown-menu li a{
    color:  #4e6e81;
}

.dropdown-menu li a:visited {
    color:  #4e6e81;
}

.dropdown-menu li a:hover {
    color: #B46543;
}


@media(max-width: 750px) {
    .navbar .links,
    .navbar .action_btn {
        display: none;
    }


    .navbar .toggle_btn {
        display: block;
    }

    .dropdown-menu {
        display: block;
    }

}

@media(max-width: 576px) {
    .dropdown-menu {
        left:2rem;
        width: unset;
    }
}


/* ===== INDEX PAGE ===== */


section#hero {
    height: calc(100vh - 60px);
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: black;
}

#hero h1 {
    font-size: 6rem;
    margin-bottom: 1rem;
}

#hero p {
    max-width: 700px;
}

/* ===== DISCOVER PAGE ===== */

section#discover {
    display: flex; 
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: black;
}

#discover h1 {
    font-size: 5rem;
}

#discover p {
    margin: auto;
    max-width: 750px;
}

.genre-container{
    margin: auto;
    margin-bottom: 30px; 
    margin-top: 30px; 
    width: 40rem;
    height: 35rem;
    background-color: #f5e9dc;
    border: 2px solid #4e6e81;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 30px;
}

.mood-container{
    margin: auto;
    margin-bottom: 30px; 
    width: 40rem;
    height: 35rem;
    background-color: #f5e9dc;
    border: 2px solid #4e6e81;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 30px;
}

.album-container{
    margin: auto;
    margin-bottom: 30px; 
    width: 40rem;
    height: 35rem;
    background-color: #f5e9dc;
    border: 2px solid #4e6e81;
    display: flex;
    padding-top: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
}

.carousel {
    padding: 1rem;
    background-image: url("https://images.unsplash.com/photo-1528459801416-a9e53bbf4e17?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8YmFja2dyb3VuZHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=1600&q=60");
    box-shadow: black 0px 0.75px 8px 1px;
    border-radius: 8px;
    border: 2px solid #4e6e81;
    width: 90%;
    height: 260px;
    max-width: 600px;
    margin: auto;
}

.album-container .carousel {
    padding: 1rem;
    background-image: url("https://images.unsplash.com/photo-1528459801416-a9e53bbf4e17?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8YmFja2dyb3VuZHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=1600&q=60");
    box-shadow: black 0px 0.75px 8px 1px;
    border-radius: 8px;
    border: 2px solid #4e6e81;
    width: 75%;
    height: 260px;
    max-width: 600px;
    margin: auto;
}


.images-container {
    display: flex;
    gap: 40px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
}

.images-container img {
    height: 260px;
    width: auto;
    scroll-snap-align: start;
    margin: auto;
}

.genre-container h1 {
    font-size: 40px;
}

.mood-container h1 {
    font-size: 40px;
}

.album-container h1 {
    font-size: 50px;
}

@media(max-width : 850px){

   .genre-container,
   .mood-container,
   .album-container{
        width: 90%;
        height: 75vh;
     }

}

@media(max-width : 600px){

    .carousel {
         width: 90%;
      }

    }


/* ===== QUIZ PAGE ===== */

.question{
	font-weight: 600;
}
.answers {
  margin-bottom: 20px;
}
.answers label{
  display: block;
}
#submit{
	font-family: sans-serif;
	font-size: 20px;
	background-color: #4e6e81;
	color: #fff;
	border: black solid 2px;
	border-radius: 9px;
	padding: 10px;
	cursor: pointer;
	margin-bottom: 20px;
}
#submit:hover{
	background-color: #B46543;
}

.quiz-container {
    justify-content: center;
    margin: auto;
    margin-top: 35px;
    margin-bottom: 30px;
    width: 75%;
    margin-top: 30px; 
    background-color: #f5e9dc;
    border: 5px solid #4e6e81;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 30px;
    text-align: center;
}

section#quizintro {
    display: flex; 
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: black;
}

#quizintro h1 {
    font-size: 3.5rem;
}

p.whatdoyouknow  {
    margin-bottom: 2px;
}

.quiz-container p {
    font-weight: bolder;
    max-width: 700px;
}

@media(max-width : 750px){

    .quiz-container {
         padding: 20px;
         width: 90%;
        margin: auto;
      }

    }
